<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!DOCTYPE html>
<!--[if IE 9]>
<html lang="en" class="ie9 no-js">
    <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>GV Company </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="GVCompany Ltd " name="description" />
    <meta content="GVCompany.com" name="author" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link href="~/app/assets/plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/app/assets/plugins/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/app/assets/plugins/simple-line-icons-2.3.2/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/app/assets/plugins/animate-css/animate.min.css" rel="stylesheet" />
    <link href="~/app/assets/plugins/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/app/assets/plugins/angular-toastr/angular-toastr.min.css" rel="stylesheet" />
    <link href="~/app/assets/plugins/angular-loading-bar/loading-bar.min.css" rel="stylesheet" />

    @RenderSection("css", false)
    <!-- END GLOBAL MANDATORY STYLES -->
    @*<!-- BEGIN: LAYOUT PLUGINS -->
        <link href="assets/plugins/revo-slider/css/settings.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
        <!-- END: LAYOUT PLUGINS -->*@
    <!-- BEGIN: PAGE STYLES -->
    <!-- END: PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/app/assets/m4.7/global/css/components.min.css" rel="stylesheet" />
    <link href="~/app/assets/m4.7/global/css/plugins.min.css" rel="stylesheet" />
    <link href="~/app/assets/m4.7/layouts/layout/css/layout.min.css" rel="stylesheet" />
    <link href="~/app/assets/m4.7/layouts/layout/css/themes/light2.min.css" rel="stylesheet" />
    <link href="~/app/assets/plugins/socicon/style.css" rel="stylesheet" />

    <link href="~/app/assets/css/custom.css" rel="stylesheet" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="~/app/assets/imgs/favicon.ico" />
</head>

<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-sidebar-fixed page-content-white page-boxed" ng-app="gv.app" ng-controller="coreCtrl" ng-cloak>
    <div id="WEBAPI_ENDPOINT_ID" style="display:none;">@GV.Core.GVConfig.Instance.WebAPIEndpoint</div>
    <div class="page-wrapper">
        @Html.Partial("_Header")

        <div class="clearfix"></div>
        <!-- BEGIN CONTAINER -->
        <div class="container">
            <div class="page-container">
                <!-- BEGIN SIDEBAR -->
                @Html.Partial("_Sidebar")
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    @RenderBody()
                </div>
                <!-- END CONTENT -->

                @Html.Partial("_Footer")
            </div>


        </div>
        <!-- END CONTAINER -->

    </div>
    <!-- BEGIN: LAYOUT/BASE/BOTTOM -->
    <!-- BEGIN: CORE PLUGINS -->
    <script src="~/app/assets/js/const.js"></script>
    <script src="~/app/assets/plugins/jquery-2.2.4/jquery.js"></script>
    <script src="~/app/assets/plugins/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/app/assets/plugins/bootstrap-3.3.6/js/bootstrap.min.js"></script>
    <script src="~/app/assets/plugins/angularjs-1.6.4/angular.js"></script>
    <script src="~/app/assets/plugins/angularjs-1.6.4/angular-sanitize.min.js"></script>
    <script src="~/app/assets/plugins/angularjs-1.6.4/angular-animate.min.js"></script>
    <script src="~/app/assets/js/Base64.js"></script>
    <script src="~/app/assets/js/Util.js"></script>
    <script src="~/app/assets/plugins/lodash/4.17.15/lodash.min.js"></script>

    <!-- END: CORE PLUGINS -->
    <!-- BEGIN: LAYOUT PLUGINS -->
    <script src="~/app/assets/plugins/angular-toastr/angular-toastr.tpls.js"></script>
    @*<script src="~/app/assets/plugins/angular-cookie/angular-cookie.min.js"></script>*@
    <script src="~/app/assets/plugins/angular-loading-bar/loading-bar.min.js"></script>
    <script src="~/app/assets/plugins/ngstorage/ngStorage.min.js"></script>
    <script src="~/app/assets/plugins/angular-paging/paging.min.js"></script>

    <script src="~/app/services/alertService.js"></script>
    <script src="~/app/services/xhttpService.js"></script>
    <script src="~/app/directives/ngEnter.js"></script>
    <script src="~/app/services/authInterceptorService.js"></script>
    @RenderSection("plugin", required: false)
    <!-- END: LAYOUT PLUGINS -->
    <!-- BEGIN: THEME SCRIPTS -->
    <script src="~/app/assets/m4.7/global/scripts/app.js"></script>
    <script>
        $(document).ready(function () {
            App.init(); // init core
        });
    </script>
    <script src="~/app/app.js"></script>
    <script src="~/app/services/gv.rest.category.js"></script>
    <script src="~/app/services/gv.rest.article.js"></script>
    <script src="~/app/services/gv.rest.fsSvc.js"></script>
    <script src="~/app/services/sideBarMenuSvc.js"></script>
    @RenderSection("js", required: false)
    <script src="~/app/components/core/core.js"></script>
    <script src="~/app/assets/m4.7/layouts/layout/scripts/layout.js"></script>


    <!-- END: THEME SCRIPTS -->
    <!-- END: LAYOUT/BASE/BOTTOM -->
</body>
</html>
